{% comment %}
  Renders filtering options for collection or search pages (horizontal version).

  Accepts:
  - results: {Object} collection or search object.
  - enable_filtering: {Boolean} enable filtering.
  - enable_sorting: {Boolean} enable sorting.
  - image_filter_layout: {String} layout for image filters (onecolumn or twocolumns).
  - location: {String} type of location (desktop or mobile).

  Usage:
  {% render 'facets-horizontal', results: results, enable_filtering: true, enable_sorting: true, image_filter_layout: 'twocolumns', location: 'desktop' %}
{% endcomment %}

{{ 'component-facets-horizontal.css' | asset_url | stylesheet_tag }}
{{ 'component-facets-elements.css' | asset_url | stylesheet_tag }}

<facet-filters-form class="facets lap-hide facets--horiz" data-location="desktop">

  <form id="FacetFiltersForm" class="facets__form facets__form--horizontal" data-location="desktop">

    {%- if results.terms -%}
      <input type="hidden" name="q" value="{{ results.terms | escape }}">
      <input name="options[prefix]" type="hidden" value="last">
    {%- elsif results.current_vendor or results.current_type -%}
      <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
    {%- endif -%}

    {%- if enable_filtering -%}

      <div class="facets__prewrapper">

        <div class="facets__wrapper" id="FacetsWrapper-Horizontal">

          {%- unless results.filters == empty -%}
            <p class="facets__heading">{{ 'collections.filter_by_label' | t }}</p>
          {%- endunless -%}

          {%- for filter in results.filters -%}

            {%- case filter.type -%}
             
              {%- when 'boolean' or 'list' -%}
                <details id="Filter-{{ filter.param_name | handleize }}-{{ location }}"
                  class="disclosure-has-popup facets__disclosure js-filter" data-index="{{ forloop.index }}-{{ location }}" 
                  {% if filter.operator == 'AND' %} data-and-operator {% endif %}
                > 
                  <summary class="facets__summary">
                    <span class="facets__summary-text">
                      {{ filter.label | escape }} 
                    </span>
                  </summary>
                  <div class="facets__display">
                    
                    <div class="facets__header">
                      <span class="facets__selected no-js-hidden">
                        {{ 'collections.filters_selected' | t: count: filter.active_values.size }}
                        {%- if filter.operator == 'AND' -%}
                          <span class="facets__and-helper-text text-color--opacity text-size--small" style="display:block">{{ 'collections.match_all_label' | t }}</span>
                        {%- endif -%}
                      </span>
                      <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link js-facet-remove" >{{ 'collections.reset' | t }}</a>
                    </div>
                    
                    {%- assign color_label = settings.color_swatches_labels | split: ',' -%}
                    {%- render 'filter-blocks', filter: filter, color_label: color_label, location: location, image_filter_layout: image_filter_layout -%}

                  </div>
                </details>

              {%- when 'price_range' -%}

                <details id="Filter-{{ filter.param_name | handleize }}-{{ location }}"
                  class="disclosure-has-popup facets__disclosure js-filter" data-index="{{ forloop.index }}-{{ location }}"
                >
                  <summary class="facets__summary">
                    <span class="facets__summary-text">
                      {{ filter.label | escape }} 
                    </span>
                  </summary>
                  <div class="facets__display">
                    <div class="facets__header">
                      {%- assign max_price_amount = filter.range_max | money -%}
                      <span class="facets__selected">{{ "collections.max_price_html" | t: price: max_price_amount }}</span>
                      <a href="{{ filter.url_to_remove }}" class="facets__reset link underlined-link js-facet-remove" >{{ 'collections.reset' | t }}</a>
                    </div>

                    {%- render 'filter-price-range', filter: filter, location: 'desktop' -%}

                  </div>
                </details>

            {%- endcase -%}

          {%- endfor -%}

          <noscript>
            <button type="submit" class="facets__button button button--regular button--outline">{{ 'collections.filter_button' | t }}</button>
          </noscript>

        </div>

      </div>

    {%- endif -%}

    <div>
      {%- if enable_sorting and results.products.size != 0 -%}
        <div class="collection-filters__item sorting">
          <div class="collection-filters__field">
            <label class="collection-filters__label" for="SortBy">{{ 'collections.sort_by_label' | t }}</label>
            <div class="select">
              {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
              <select name="sort_by" class="select__select collection-filters__sort" id="SortBy" aria-describedby="a11y-refresh-page-message">
                {%- for option in results.sort_options -%}
                  <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected="selected"{% endif %}>{{ option.name | escape }}</option>
                {%- endfor -%}
              </select>
            </div>
          </div>
          <noscript>
            <button type="submit" class="button button button--regular button--outline">{{ 'collections.sort_button' | t }}</button>
          </noscript>
        </div>
      {%- endif -%}
    </div>

  </form>

</facet-filters-form>

{%- render 'facets-header', results: results, offset: offset, page_size: page_size -%}