{% comment %}
  Renders product variant options

  Accepts:
  - type: {String} type of variant picker. Possible values: 'select', 'radio', 'swatch'.
  - product: {Object} product object.
  - option: {Object} option object.
  - current_variant: {Object} current variant object.]
  - default_to_first_variant: {Boolean} default to first available variant if true.
  - handle_unavailable_variants: {String} how are unavailable variants rendered. Possible values: 'show', 'disable'.
  - id: {String} unique id (can be section.id).
  
  Usage:
  {% render 'product-variant-options', type: 'select', option: option, product: product, current_variant: current_variant, default_to_first_variant: true, handle_unavailable_variants: 'show' %}
{% endcomment %}

{%- if type == 'select' -%}
  {%- unless default_to_first_variant -%}
    <option class="product-variant-value" default selected disabled data-disabled>{{ 'products.grid.select_variant' | t: variant: option.name }}</option>
  {%- endunless -%}
{%- endif -%}

{%- for value in option.values -%}

  {%- capture option_id -%}{{ product.handle }}-option-{{ option.name | escape | downcase | strip | handleize }}-{{ forloop.index }}-{{ id }}{%- endcapture -%} 
  {%- capture option_name -%}product-{{ option.name | escape | downcase | strip | handleize }}-{{ id }}{%- endcapture -%}

  {%- capture data_input_set -%}
    data-available="{{ value.available }}"
    {% unless value.product_url %} {% if handle_unavailable_variants != 'show' and value.available == false %} disabled="disabled" {% endif %} {% endunless %}
    {% if value.product_url %} data-product-url="{{ value.product_url }}" {% if reload_product != blank %} data-product-custom-url="{{ reload_product }}" {% endif %} {% endif %}
    data-option-value-id="{{ value.id }}"
    data-variant-id="{{ value.variant.id }}"
    {% if option.selected_value == value %} data-selected {% endif %}
  {%- endcapture -%}

  {%- liquid

    assign unavailable_class = ""
    unless value.available
      assign unavailable_class = "disabled"
    endunless 

    if value.product_url != blank
      assign unavailable_class = ""
      assign handle_unavailable_variants = 'show'
    endif

    assign first_variant_product_url = false
    if value.product_url
      assign first_variant_product_url = true
    endif

  -%}

  {%- if type == 'select' -%}

    <option class="product-variant-value" value="{{ value | escape }}" 
      {% if default_to_first_variant and option.selected_value == value %}selected{% endif %} 
      {% if default_to_first_variant == false and first_variant_product_url and option.selected_value == value %} data-silent-selected {% endif %}
      {{ data_input_set }}
    >
      {{ value | escape }}
    </option>

  {%- elsif type == 'swatch' -%}

    <div class="product-variant__item product-variant__item--radio product-variant__item--color {{ unavailable_class }}">
      <input 
        type="radio" name="{{ option_name }}" id="{{ option_id }}" value="{{ value | escape }}" 
        {% if default_to_first_variant and option.selected_value == value %}checked{% endif %} 
        {% if default_to_first_variant == false and first_variant_product_url and option.selected_value == value %} data-silent-selected {% endif %}
        class="product-variant__input product-variant-value {{ unavailable_class }}" 
        {{ data_input_set }}
      >
      <label for="{{ option_id }}" class="product-variant__label">

        {%- liquid 
          assign color_swatch_image = blank
          if value.swatch.image
            assign color_swatch_image = value.swatch.image
          elsif value.swatch.color
            assign color_swatch_background = 'rgb(' | append: value.swatch.color.rgb | append: ')'
          else
            assign color_swatch_name = value | handle | append: '.png'
            assign color_swatch_image = images[color_swatch_name]
            assign color_swatch_background = value | downcase | escape | replace: ' ', ''
          endif
        -%}

        {%- if color_swatch_image != blank -%}
          <img class="product-variant__item-swatch product-variant__item-swatch--color"
            src="{{ color_swatch_image | image_url: width: 30, height: 30, crop: 'center' }}"
            srcset="
              {{ color_swatch_image | image_url: width: 30, height: 30, crop: 'center' }} 30w,
              {{ color_swatch_image | image_url: width: 60, height: 60, crop: 'center' }} 60w,
              {{ color_swatch_image | image_url: width: 90, height: 90, crop: 'center' }} 90w
            "
            sizes="30px" width="30" height="30"
            loading="lazy"
            alt="{{ color_swatch_image.alt | escape }}"
          />
        {%- else -%}
          <span class="product-variant__item-swatch product-variant__item-swatch--image" style="background-color:{{ color_swatch_background }}"></span>
        {%- endif -%}
        <span class="visually-hidden">{{ value | escape }}</span>
      </label>
    </div>

  {%- else -%}

    <div class="product-variant__item product-variant__item--radio {{ unavailable_class }}">
      <input 
        type="radio" name="{{ option_name }}" id="{{ option_id }}" value="{{ value | escape }}" 
        {% if default_to_first_variant and option.selected_value == value %}checked{% endif %} 
        {% if default_to_first_variant == false and first_variant_product_url and option.selected_value == value %} data-silent-selected {% endif %}
        class="product-variant__input product-variant-value {{ unavailable_class }}" 
        {{ data_input_set }}
      >
      <label for="{{ option_id }}" class="product-variant__label text-size--small">
        {{ value | escape }}
      </label>
    </div>

  {%- endif -%}

{%- endfor -%}